<div class="row">
    <div class="col-md-12">
        {{#if data.post}}
        <article>
            <h2>{{data.post.title}}</h2>
            <img src="{{data.post.featureImage}}" alt="{{data.post.title}}" class="img-fluid">
            <p>{{{safeHTML data.post.body}}}</p>
            <p><strong>Category:</strong> {{data.post.category}}</p>
            <p><strong>Price:</strong> {{data.post.price}}</p>
            <p><strong>Last Updated:</strong> {{data.post.postDate}}</p>
        </article>
        {{else}}
        <div class="col-md-12 text-center">
            <h2>{{data.message}}</h2>
            <p>Please try another Post / Category</p>
        </div>
        {{/if}}
    </div>

    <div class="col-md-3">
        {{#if data.categories}}
        <h4>Categories</h4>
        <ul>
            {{#each data.categories}}
            <li><a href="/shop?category={{this.id}}">{{this.category}}</a></li>
            {{/each}}
        </ul>
        {{/if}}
    </div>
    <div class="col-md-9">
        {{#if data.posts}}
        <h4>Items</h4>
        <ul>
            {{#each data.posts}}
            <li><a href="/shop/{{this.id}}?category={{../viewingCategory}}">{{this.title}}</a></li>
            {{/each}}
        </ul>
        {{/if}}
    </div>
</div>